<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matthewz.gpcalendarbackend.mapper.OrganizationMapper">
    <select id="findOrgByCodeAndUserId" resultType="com.matthewz.gpcalendarbackend.organizations.Organization">
        select * from Organizations where org_code =#{org_code} and created_user_id = #{created_user_id};
    </select>
    <select id="findOrgByUserId" resultType="com.matthewz.gpcalendarbackend.organizations.Organization">
        select * from Organizations where created_user_id = #{created_user_id};
    </select>
    <select id="createOrganization">
        insert into Organizations (org_name,org_code,created_user_id,created_time,modified_user_id,modified_time)
            values (#{org_name}, #{org_code}, #{created_user_id},now(),#{created_user_id},now());
    </select>
    <select id="updateOrganization">
        update Organizations set org_name=#{org_name},modified_user_id=#{modified_user_id},modified_time=now()
        where id=#{id};
    </select>
</mapper>